# django
bootstrap4
django-plotly-dash
dash
plotly
dpd_static_support
dash-bootstrap-components
django-bootstrap4
dash-mantine-components
dash-iconify
openpyxl
omero-web>=5.26.0

# omero
microscopemetrics==0.2.3

# Fix for Django 5 compatibility
django-pipeline>=4.1.0
